@tailwind utilities;

@layer utilities {
  :root {
    --shiki-diff-add-color: rgba(16, 185, 129, 0.16);
    --shiki-diff-add-symbol-color: #3dd68c;
    --shiki-diff-remove-color: rgba(244, 63, 94, 0.16);
    --shiki-diff-remove-symbol-color: #cb7676;
    --shiki-highlight-color: rgba(101, 117, 133, 0.16);
    --shiki-error-color: rgba(244, 63, 94, 0.16);
    --shiki-warning-color: rgba(234, 179, 8, 0.16);
  }

  pre,
  pre.astro-code {
    @apply relative overflow-x-auto px-6 py-4;
  }

  pre.astro-code > code .line.diff,
  pre.astro-code > code .line.highlighted {
    @apply mx-[-1.5rem] inline-block w-[calc(100%_+_3rem)] px-6
    transition-[background-color] duration-500;
  }

  /* transformerNotationDiff */

  pre.astro-code > code .line.diff::before {
    @apply absolute left-[0.625rem];
  }

  pre.astro-code > code .line.diff.add {
    @apply bg-[var(--shiki-diff-add-color)];
  }

  pre.astro-code > code .line.diff.add::before {
    @apply text-[var(--shiki-diff-add-symbol-color)] content-['+'];
  }

  pre.astro-code > code .line.diff.remove {
    @apply bg-[var(--shiki-diff-remove-color)] opacity-70;
  }

  pre.astro-code > code .line.diff.remove::before {
    @apply text-[var(--shiki-diff-remove-symbol-color)] content-['-'];
  }

  /* transformerNotationHighlight */

  pre.astro-code > code .line.highlighted {
    @apply bg-[var(--shiki-highlight-color)];
  }

  /* transformerNotationErrorLevel */

  pre.astro-code > code .line.highlighted.error {
    @apply bg-[var(--shiki-error-color)];
  }

  pre.astro-code > code .line.highlighted.warning {
    @apply bg-[var(--shiki-warning-color)];
  }

  /* transformerNotationFocus */

  pre.has-focused .line:not(.focused) {
    @apply opacity-70 blur-[0.095rem]
    transition-[filter,opacity] duration-300;
  }

  pre.has-focused:hover .line:not(.focused) {
    @apply opacity-100 blur-0;
  }
}
