---
import Layout from "@/layouts/common-layout.astro";
import Button from "@/components/ui/button.astro";
import Icon from "@/components/ui/icon.astro";
import { slug } from "@mogeko/utils";
import { getEntries } from "@/utils";
import { LuTags } from "react-icons/lu";

const tagsWithCount = (await getEntries()).reduce<Record<string, number>>(
  (acc, { data: { tags } }) => {
    tags?.forEach((tag) => {
      acc[tag] = (acc[tag] ?? 0) + 1;
    });

    return acc;
  },
  {},
);
---

<Layout title="Tags" keywords={Object.keys(tagsWithCount)}>
  <header class="mt-8 flex items-center justify-center py-16">
    <h1 class="inline-flex flex-row items-center text-4xl font-bold">
      <LuTags className="text-accent mr-2 h-10 w-10" />Tags
    </h1>
  </header>
  <main class="flex-1">
    <div
      id="tags"
      class="bg-background -mx-6 flex flex-row flex-wrap items-center justify-start gap-4 px-6 py-12 shadow-sm sm:mx-0"
    >
      {
        Object.entries(tagsWithCount)
          .sort(([_tagA, a], [_tagB, b]) => b - a)
          .map(([tag, _count]) => (
            <Button
              href={`/tags/${slug(tag)}`}
              class="select-none font-semibold hover:cursor-pointer"
              size="sm"
              as="a"
            >
              <Icon class="mr-1 h-4 w-4" icon={tag} />
              {tag}
            </Button>
          ))
      }
    </div>
  </main>
</Layout>

<style>
  #tags {
    --background: 12 76% 61%;
    --primary: 195 36% 11%;
    --primary-foreground: 12 76% 61%;
  }
</style>
