---
import Layout from "@/layouts/common-layout.astro";
import Button from "@/components/ui/button.astro";
import Card from "@/components/ui/card.astro";
import { Icon } from "@/components/ui/icon";
import { getCollection } from "astro:content";
import { slug } from "github-slugger";
import { LuTags } from "react-icons/lu";

const tagsWithCount = (
  await getCollection("posts", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
).reduce<Record<string, number>>((acc, { data: { tags } }) => {
  tags?.forEach((tag) => {
    acc[tag] = (acc[tag] ?? 0) + 1;
  });

  return acc;
}, {});
---

<Layout>
  <header class="mt-8 flex items-center justify-center py-16">
    <h1 class="inline-flex flex-row items-center text-4xl font-bold">
      <LuTags className="text-accent mr-2 h-10 w-10" />Tags
    </h1>
  </header>
  <main class="flex-1">
    <Card class="flex-row flex-wrap" variant="primary">
      {
        Object.entries(tagsWithCount)
          .sort(([_tagA, a], [_tagB, b]) => b - a)
          .map(([tag, _count]) => (
            <Button
              href={`/tags/${slug(tag)}`}
              class="select-none font-semibold hover:cursor-pointer"
              size="sm"
              variant="onPrimary"
              as="a"
            >
              <Icon className="mr-1 h-4 w-4" icon={tag} />
              {tag}
            </Button>
          ))
      }
    </Card>
  </main>
</Layout>
