---
import Layout from "@/layouts/base-layout.astro";
import Tag from "@/components/ui/tag.astro";
import { getCollection } from "astro:content";
import { slug } from "github-slugger";
import { LuTags } from "react-icons/lu";

const tagsWithCount = (
  await getCollection("posts", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
).reduce<Record<string, number>>((acc, { data: { tags } }) => {
  tags?.forEach((tag) => {
    acc[tag] = (acc[tag] ?? 0) + 1;
  });

  return acc;
}, {});
---

<Layout>
  <header class="mt-8 flex items-center justify-center py-16" slot="header">
    <h1 class="inline-flex flex-row items-center text-4xl font-bold">
      <LuTags className="text-accent mr-2 h-10 w-10" />Tags
    </h1>
  </header>
  <main
    class="bg-primary -mx-6 mb-4 flex flex-1 flex-row flex-wrap items-start gap-4 px-6 py-12"
  >
    {
      Object.entries(tagsWithCount)
        .sort(([_tagA, a], [_tagB, b]) => b - a)
        .map(([tag, _count]) => (
          <Tag
            href={`/tags/${slug(tag)}`}
            class="bg-background text-primary hover:bg-background/80"
            tag={tag}
          />
        ))
    }
  </main>
</Layout>
