---
import "@/styles/shiki.css";
import "@/styles/mdx.css";

import Layout from "@/layouts/base-layout.astro";
import SiteHeader from "@/components/post-header.astro";
import Header from "@/components/article-header.astro";
import Horizontal from "@/components/mdx/hr.astro";
import Image from "@/components/mdx/img.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const entries = await getCollection("posts");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const {
  Content,
  remarkPluginFrontmatter: { minutesRead },
} = await entry.render();
---

<Layout title={entry.data.title} keywords={entry.data.tags}>
  <article class="m-auto max-w-2xl flex-1 pb-32 pt-8">
    <SiteHeader slot="before-header" />
    <Header slot="header" data={entry.data} readingTime={minutesRead} />
    <main class="prose">
      <Content components={{ hr: Horizontal, img: Image }} />
    </main>
  </article>
</Layout>
