---
import Layout from "@/layouts/base-layout.astro";
import SiteHeader from "@/components/site-header.astro";
import Header from "@/components/article-header.astro";
import Horizontal from "@/components/mdx/hr.astro";
import Image from "@/components/mdx/img.astro";
import Preformatted from "@/components/mdx/pre.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const entries = await getCollection("posts");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const {
  Content,
  remarkPluginFrontmatter: { minutesRead },
} = await entry.render();
---

<Layout title={entry.data.title} keywords={entry.data.tags}>
  <SiteHeader class="max-w-2xl" slot="before-header" />
  <Header class="pt-8" slot="header" data={{ minutesRead, ...entry.data }} />
  <main class="prose m-auto flex-1">
    <Content components={{ hr: Horizontal, img: Image, pre: Preformatted }} />
  </main>
</Layout>
