@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans-sc), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-inconsolata), var(--font-noto-sans-sc), ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

@theme {
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  --color-card: var(--color-white);
  --color-card-foreground: var(--color-black);
  --color-popover: rgba(224, 224, 224, 1);
  --color-popover-foreground: var(--color-white);

  --color-primary: var(--color-black);
  --color-primary-foreground: var(--color-white);
  --color-secondary: rgba(224, 224, 224, 1);
  --color-secondary-foreground: var(--color-black);
  --color-muted: rgba(168, 168, 168, 0.2);
  --color-muted-foreground: var(--color-black);
  --color-accent: rgba(92, 255, 59, 1);
  --color-accent-foreground: var(--color-black);
  --color-destructive: hsl(0, 69%, 48%);
  --color-destructive-foreground: var(--color-black);

  --color-border: rgba(198, 198, 198, 1);
  --color-input: rgba(244, 244, 244, 1);
  --color-ring: var(--color-accent);

  --text-base: 1rem;
  --text-base--line-height: calc(1.25 / 1);
}

/* @variant dark {
  @theme {
    --color-background: #171717;
    --color-foreground: #ffffff;
  }
} */

@layer base {
  body {
    @apply text-foreground bg-background font-mono;
  }
}
