@import "tailwindcss";

@theme inline {
  --font-mono: "Maple Mono NF CN", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

@theme {
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  --color-card: var(--color-white);
  --color-card-foreground: var(--color-black);
  --color-popover: rgba(224, 224, 224, 1);
  --color-popover-foreground: var(--color-white);

  --color-primary: var(--color-black);
  --color-primary-foreground: var(--color-white);
  --color-secondary: rgba(224, 224, 224, 1);
  --color-secondary-foreground: var(--color-black);
  --color-muted: rgba(168, 168, 168, 0.2);
  --color-muted-foreground: var(--color-black);
  --color-accent: rgba(92, 255, 59, 1);
  --color-accent-foreground: var(--color-black);
  --color-destructive: hsl(0, 69%, 48%);
  --color-destructive-foreground: var(--color-black);

  --color-border: rgba(198, 198, 198, 1);
  --color-input: rgba(244, 244, 244, 1);
  --color-ring: var(--color-accent);

  --spacing: calc(21.5 / 16 * 1rem);
}

/* @variant dark {
  @theme {
    --color-background: #171717;
    --color-foreground: #ffffff;
  }
} */

/* @layer base {
  body {
    @apply absolute text-foreground bg-background font-mono text-base/1;
  }
} */
