---
import Link from "@/components/ui/link.astro";
import { format } from "date-fns";
import { MdStar } from "react-icons/md";
import { cn } from "@/utils";
import type { CollectionEntry } from "astro:content";
import type { HTMLAttributes } from "astro/types";

const { class: className, heading, posts: articles } = Astro.props;

type Props = {
  posts: Pick<CollectionEntry<"posts">, "slug" | "data">[];
  heading: string;
} & HTMLAttributes<"div">;
---

<div class={cn("flex flex-col gap-2", className)}>
  <h2 class="text-3xl font-bold">{heading}</h2>
  {
    articles.map(({ data, slug }) => (
      <p class="inline-flex flex-row items-center gap-0.5 text-xl md:gap-1">
        {data.mark && (
          <MdStar className="h-5 w-5 md:mr-1 md:ml-[-1.75rem] ml-[-1.375rem] text-primary" />
        )}
        <span>
          <Link
            class="font-semibold"
            href={`/posts/${slug}`}
            data-astro-prefetch
          >
            {data.title}
          </Link>
          <span class="text-muted select-none self-end text-base">
            {format(data.date, "MM/dd")}
          </span>
        </span>
      </p>
    ))
  }
</div>
