---
import Link from "@/components/ui/link.astro";
import type { HTMLAttributes } from "astro/types";

const { class: className, ...props } = Astro.props;

type Props = HTMLAttributes<"nav">;
---

<header class="sticky top-0 z-10 px-6 py-4 backdrop-blur-sm">
  <nav
    class:list={[
      "mx-auto flex w-full flex-row items-center justify-end",
      className,
    ]}
    {...props}
  >
    <Link
      class="relative text-lg font-bold"
      variant="underline"
      href="/"
      data-astro-prefetch>Home</Link
    >
  </nav>
</header>
