---
import PostGroup from "@/components/post-group.astro";
import { getYear } from "date-fns";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import type { Entry } from "@/lib/content";

const { class: className, posts, ...props } = Astro.props;
const blogsGroupByYear = posts.reduce<[number, Entry[]][]>((acc, post) => {
  const year = getYear(post.data.date);
  const index = acc.findIndex(([y]) => y === year);

  return index > -1
    ? (acc[index][1].push(post), acc)
    : acc.concat([[year, [post]]]);
}, []);

type Props = { posts: Entry[] } & HTMLAttributes<"div">;
---

<div class={cn("flex flex-col justify-center gap-7", className)} {...props}>
  {
    blogsGroupByYear.map(([year, posts]) => (
      <PostGroup heading={year.toString()} posts={posts} />
    ))
  }
</div>
