---
import Link from "@/components/ui/link.astro";
---

<footer
  class="text-muted flex flex-col items-center justify-stretch px-14 py-20 text-xs"
>
  <p>
    Copyright &copy; 2017 - {new Date().getFullYear()}. All rights reserved.
  </p>
  <p>
    Made by <Link class="hover:text-foreground" href="https://github.com/mogeko"
      >Mogeko</Link
    >
  </p>
</footer>
