---
import Link from "@/components/ui/link.astro";
import { cn } from "@/utils";
import type { HTMLAttributes } from "astro/types";

const { class: className } = Astro.props;

type Props = HTMLAttributes<"footer">;
---

<footer
  class={cn(
    "text-muted flex flex-col items-center justify-stretch py-20 text-sm",
    className,
  )}
>
  <p>
    Copyright &copy; 2017 - {new Date().getFullYear()}
    <p>
      Made by <Link
        class="hover:text-foreground"
        href="https://github.com/mogeko">Mogeko</Link
      >
    </p>
  </p>
</footer>
