---
import Link from "@/components/site-nav-item.astro";
import { cn } from "@/utils";
import type { HTMLAttributes } from "astro/types";

const { class: className, ...props } = Astro.props;

type Props = HTMLAttributes<"nav">;
---

<header class="sticky top-0 z-10 px-6 py-4 backdrop-blur-sm">
  <nav
    class={cn(
      "mx-auto flex w-full flex-row items-center justify-end gap-4",
      className,
    )}
    {...props}
  >
    <slot />
    <Link href="/">Home</Link>
  </nav>
</header>
