---
import PostIndex from "@/components/post-index.astro";
import Layout from "@/layouts/home-layout.astro";
import { getEntries } from "@/utils";
import { AiFillHeart } from "react-icons/ai";
import { LuRss } from "react-icons/lu";

const entries = await getEntries();
---

<Layout>
  <header class="mt-8 flex flex-col justify-center gap-1 py-16">
    <h1 class="text-primary-foreground text-4xl">
      Hi! I'm <span class="text-primary">Mogeko</span>
      <a
        class="hover:text-primary text-accent inline-flex items-center justify-center"
        href="/rss.xml"
      >
        <LuRss className="h-6 w-6" />
      </a>
    </h1>
    <h2 class="text-secondary text-3xl">Open-source lover & Blogger</h2>
    <p class="pb-2 pt-4 text-base">
      Hello, everyone! Welcome to my personal blog. I am a DBA communist and
      blogger. I like to <span
        class="shadow-[inset_0_-2px_0_0_var(--primary-color)]">write code</span
      > and <span class="shadow-[inset_0_-2px_0_0_var(--primary-color)]"
        >share my knowledge</span
      > with everyone. I believe that open source is a way to fight monopoly and
      consumerism.
    </p>
    <p class="inline-flex items-center gap-1">
      I hope you like my blog! <AiFillHeart className="h-4 w-4 text-red-600" />
    </p>
  </header>
  <main class="flex-1">
    <PostIndex posts={entries} />
  </main>
</Layout>
