---
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "@/utils";
import type { HTMLAttributes } from "astro/types";

const { class: className, variant, ...props } = Astro.props;

export const cardVariants = cva(
  "-mx-6 flex flex-col items-center justify-start gap-4 px-6 py-12 shadow-sm sm:mx-0",
  {
    variants: {
      variant: {
        default: "bg-card text-card-foreground",
        primary: "bg-primary text-primary-foreground",
      },
    },
    defaultVariants: {
      variant: "default",
    },
  },
);

type Props = HTMLAttributes<"div"> & VariantProps<typeof cardVariants>;
---

<div class={cn(cardVariants({ variant }), className)} {...props}>
  <slot />
</div>
