---
import Layout from "@/layouts/common-layout.astro";
import PostIndex from "@/components/post-index.astro";
import Icon from "@/components/ui/icon.astro";
import { slug } from "@/lib/utils";
import { getEntries } from "@/lib/content";
import type { GetStaticPaths } from "astro";
import type { Entry } from "@/lib/content";

export const getStaticPaths = (async () => {
  const tagsWithPosts = (await getEntries()).reduce<Record<string, Entry[]>>(
    (acc, entry) => {
      entry.data.tags?.forEach((tag) => {
        acc[tag] = [entry, ...(acc[tag] ?? [])];
      });

      return acc;
    },
    {},
  );

  return Object.entries(tagsWithPosts).map(([tag, posts]) => ({
    props: { posts, tag },
    params: { tag: slug(tag) },
  }));
}) satisfies GetStaticPaths;

const { posts, tag } = Astro.props;
---

<Layout title={`#${tag}`} keywords={[tag]}>
  <header class="mt-8 flex items-center justify-center py-16">
    <h1 class="inline-flex flex-row items-center text-4xl font-bold">
      <Icon icon={tag} class="mr-2 h-9 w-9" /><span>{tag}</span>
    </h1>
  </header>
  <main class="flex-1">
    <PostIndex posts={posts} />
  </main>
</Layout>
