.spoiler {
  --spoiler-background-color: #000;
  --spoiler-text-color: #000;
  --spoiler-hover-text-color: #fff;

  background-color: var(--spoiler-background-color);
  color: var(--spoiler-text-color);
  padding: 0 0.5rem /* 8px */;

  &:hover {
    color: var(--spoiler-hover-text-color);
  }
}
