---
const { class: className, ...props } = Astro.props;

type Props = astroHTML.JSX.HTMLAttributes;
---

<h3
  class:list={[
    "croll-m-20 text-2xl font-bold tracking-tight lg:text-3xl [&:not(:first-child)]:mb-5 [&:not(:first-child)]:mt-10",
    className,
  ]}
  {...props}
>
  <slot />
</h3>
