---
import { buttonVariants } from "@/components/ui/button.astro";
import { cn } from "@/utils";
import type { HTMLAttributes } from "astro/types";

const props = Astro.props;

type Props = HTMLAttributes<"pre">;
---

<div class="relative -mx-6 sm:mx-0">
  <pre {...props}><slot /></pre>
  <button
    class={cn(
      "copy-code absolute -top-3 right-3",
      buttonVariants({
        variant: "secondary",
        size: "xs",
      }),
    )}
  >
    Copy
  </button>
</div>

<script>
  document.querySelectorAll(".copy-code").forEach((copyButton) => {
    copyButton.addEventListener("click", async () => {
      const code = copyButton.previousElementSibling?.textContent;
      const copyButtonLabel = copyButton.textContent;

      await navigator.clipboard.writeText(code || "");

      copyButton.textContent = "Copied!";
      setTimeout(() => {
        copyButton.textContent = copyButtonLabel;
      }, 700);
    });
  });
</script>
