@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  /* --font-mono: ui-monospace, monospace; */
  --font-mono: Inconsolata, 'Noto Sans SC', ui-monospace, monospace;

}

@variant dark {
  @theme {
    --color-background: #171717;
    --color-foreground: #ffffff;
  }
}

@layer base {
  /* @font-face {
    font-family: "Noto Sans Mono CJK SC";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url("/fonts/NotoSansMonoCJKsc-VF.woff2") format("woff2-variations");
  } */

  body {
    @apply text-foreground bg-background font-mono;
  }
}
