@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans-sc), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-inconsolata), var(--font-noto-sans-sc), ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --text-base: 1rem;
  --text-base--line-height: calc(1.25 / 1);

  --animate-loading: loading 0.8s steps(1, end) infinite;

  @keyframes loading {
    0% {
      content: "⣾";
    }
    12.5% {
      content: "⣽";
    }
    25% {
      content: "⣻";
    }
    37.5% {
      content: "⢿";
    }
    50% {
      content: "⡿";
    }
    62.5% {
      content: "⣟";
    }
    75% {
      content: "⣯";
    }
    87.5% {
      content: "⣷";
    }
  }
}

@variant dark {
  @theme {
    --color-background: #171717;
    --color-foreground: #ffffff;
  }
}

@layer base {
  body {
    @apply text-foreground bg-background font-mono;
  }
}
