@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --font-sans: Arial, Helvetica, sans-serif;
}

@variant dark {
  @theme {
    --color-background: #171717;
    --color-foreground: #ffffff;
  }
}

@layer base {
  body {
    @apply text-foreground bg-background font-sans;
  }
}
