---
import Layout, { type HeadProps } from "@/layouts/base-layout.astro";
import SiteFooter from "@/components/site-footer.astro";
import Link from "@/components/site-nav-item.astro";

const { title, keywords, description } = Astro.props;

type Props = HeadProps;
---

<Layout head={{ title, keywords, description }}>
  <main class="container m-auto">
    <header class="sticky top-0 z-10 px-6 py-4 backdrop-blur-sm">
      <nav class="mx-auto flex w-full flex-row items-center justify-end gap-4">
        <slot name="site-header-item" />
        <Link href="/">Home</Link>
      </nav>
    </header>
    <article class="relative flex min-h-screen flex-col">
      <slot />
    </article>
    <SiteFooter />
  </main>
</Layout>
