---
import Layout, { type HeadProps } from "@/layouts/base-layout.astro";
import SiteFooter from "@/components/site-footer.astro";
import NavLink from "@/components/site-nav-item.astro";

type Props = HeadProps;
---

<Layout head={Astro.props}>
  <main class="m-auto max-w-[680px] px-6">
    <header class="sticky top-0 z-10 px-6 py-4 backdrop-blur-sm">
      <nav class="mx-auto flex w-full flex-row items-center justify-end gap-4">
        <NavLink href="/tags">Tags</NavLink>
        <NavLink href="/">Posts</NavLink>
      </nav>
    </header>
    <article class="relative flex min-h-screen flex-col">
      <slot />
    </article>
    <SiteFooter />
  </main>
</Layout>
