---
import Layout, { type HeadProps } from "@/layouts/base-layout.astro";
import SiteHeader from "@/components/site-header.astro";
import SiteFooter from "@/components/site-footer.astro";

const { title, keywords, description } = Astro.props;

type Props = HeadProps;
---

<Layout head={{ title, keywords, description }}>
  <main class="container m-auto">
    <SiteHeader>
      <slot name="site-header-item" />
    </SiteHeader>
    <article class="relative flex min-h-screen flex-col">
      <slot />
    </article>
    <SiteFooter />
  </main>
</Layout>
