name: Build

on:
  push:
    branches: [master]
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  pull-requests: write
  contents: write
  id-token: write

jobs:
  build-publish:
    name: Build and Publish Packages
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ github.actor }}
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: oven-sh/setup-bun@v2.1.2
      - run: bun ci
      - run: bun run build -F "./packages/*"
      - name: Create Version PR or Publish to NPM
        id: changesets
        uses: changesets/action@v1.6.0
        with:
          commit: "chore(release): version packages"
          title: "chore(release): version packages"
          version: bun changeset version
          publish: bun changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_ENV: "production"

