name: Monorepo Test

on:
  push:
    branches-ignore: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Test Monorepo Packages
    runs-on: ubuntu-latest
    env:
      TURBO_FORCE: true
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up pnpm
        uses: pnpm/action-setup@v4.0.0
      - name: Set up Node.js
        uses: actions/setup-node@v4.1.0
        with:
          node-version-file: package.json
          cache: "pnpm"
      - uses: actions/cache@v4.2.0
        with:
          key: ${{ runner.os }}-ms-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-ms-playwright-
          path: /home/runner/.cache/ms-playwright
      - run: pnpm install --frozen-lockfile
      - run: pnpm biome ci --reporter=github
      - run: pnpm run test
      - name: Generate Coverage Reports
        run: pnpm run cov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: mogeko/mogeko
          fail_ci_if_error: false
