name: Test

on:
  push:
  pull_request:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  test:
    name: Test Monorepo Packages
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up PNPM
        uses: pnpm/action-setup@v4.2.0
      - name: Set up Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: package.json
          cache: "pnpm"
      - name: Get installed Playwright version
        run: |
          PLAYWRIGHT_META=$(pnpm list --json --lockfile-only playwright)
          cat << EOF >> $GITHUB_OUTPUT
          result=$(echo $PLAYWRIGHT_META | jq -r '.[0].devDependencies.playwright.version')
          EOF
        id: playwright-version
      - name: Cache Playwright Binaries
        uses: actions/cache@v5.0.1
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.result }}
      - run: pnpm install --frozen-lockfile
      - run: pnpm exec playwright install --with-deps chromium
      - run: pnpm biome ci --reporter=github
      - run: pnpm run build --filter="./packages/*"
      - name: Generate Coverage Reports
        run: pnpm run cov
      - name: Upload test results to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          report_type: test_results
          files: .github/test-report.junit.xml
          use_oidc: true
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          report_type: coverage
          use_oidc: true
