name: Test

on:
  push:
  pull_request:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  test:
    name: Test Monorepo Packages
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: oven-sh/setup-bun@v2.1.0
      - run: bun ci
      - run: bun biome ci --reporter=github
      - run: bun run build -F "./packages/*"
      - name: Generate Coverage Reports
        run: bun run cov
      - name: Upload test results to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          report_type: test_results
          files: .github/test-report.junit.xml
          use_oidc: true
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          report_type: coverage
          use_oidc: true
