name: Test

on:
  push:
  pull_request:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  test:
    name: Test Monorepo Packages
    runs-on: ubuntu-latest
    env:
     TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
     TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Get installed Playwright version
        uses: actions/github-script@v8.0.0
        id: playwright-version
        with:
          script: |
            return await fetch(
              "https://registry.npmjs.org/-/package/playwright/dist-tags",
            ).then((res) => {
              return res.json().then((data) => data.latest);
            });
          result-encoding: string
      - name: Cache Playwright Binaries
        uses: actions/cache@v4.3.0
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.result }}
      - uses: actions/checkout@v5.0.0
      - name: Set up PNPM
        uses: pnpm/action-setup@v4.2.0
      - name: Set up Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: package.json
          cache: "pnpm"
      - name: Install Playwright Browsers
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: pnpx playwright install --with-deps chromium
      - run: pnpm install --frozen-lockfile
      - run: pnpm biome ci --reporter=github
      - run: pnpm run build --filter="./packages/*"
      - name: Generate Coverage Reports
        run: pnpm run cov
      - name: Upload test results to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          report_type: test_results
          files: .github/test-report.junit.xml
          use_oidc: true
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          report_type: coverage
          use_oidc: true
